.service-card{
    border-radius: 20px;
}
.btn-pending {
    color: #FF4545;
    background-color: #FFE3E3;
}
.btn-done{
    color:  #009444;
    background-color: #C6FFE0;
}
.btn-ongoing{
    color:  #bda310;
    background-color: #e6d88e86;
}
